.box{
	width: 150px;
	height: 150px;
	background-color: red;
	animation-name: qimirla;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
}
@keyframes qimirla{
	0%{
		transform:translate(0,0);

	}
	25%{
		background-color: green;
		transform: translate(calc(100vw - 150px), 0);
	}
	50%{
		background-color: blue;
		transform: translate(calc(100vw - 150px),calc(100vh - 150px));

	}
	75%{
		background-color: yellow;
		transform: translate(0, calc(100vh - 150px));
	}
	}
